* {
  box-sizing: border-box;
}

:root {
  box-sizing: border-box;
  --powderBlue-color: #b0e0e6;
  --dark-gray: rgb(51, 51, 54);
  --hover-color: rgb(15, 240, 90);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

h2 {
  margin: 0;
}

.name-tag {
  background-color: powderblue;
  padding: 15px;
}

.navbar {
  background-color: var(--dark-gray);
  font-family: "Stick No Bills", sans-serif;
}

.nav_list {
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_item {
  margin: 0 2rem;
  list-style: none;
}

.nav_item a {
  text-decoration: none;
  font-size: 22px;
  color: var(--powderBlue-color);
}

.nav_item a:hover {
  color: var(--hover-color);
}

.hero-image {
  background-image: url("./images/hero.jpg");
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

/* About-me ============================== */
.flex-section {
  margin: 50px 0;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.flex-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  font-size: 3vw;
  line-height: 1.1;
  border-right: 4px solid var(--dark-gray);
}

.flex-section > h3 {
  font-size: 1.6rem;
}

.flex-section > div {
  flex: 0 0 70%;
}

/* Work ====================================== */
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-item {
  max-height: 130px;
  min-height: 130px;
  color: black;
  display: flex;
  align-items: flex-end;
  flex-basis: 40%;
  padding: 0 0 20px 0;
  margin: 0.5em;
  background-size: 150%;
  text-decoration: none;
  background-blend-mode: soft-light;
  transition: all 0.3s;
}

.work-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.work-item h3 {
  font-size: 1.2rem;
}

.work-item div {
  background-color: rgb(83, 169, 180);
}

.work-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-showcase {
  background-image: url(./images/roomf.png);
}

/* Contact ==================================== */
.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contact address a {
  padding: 3px;
  text-decoration: none;
  font-size: 1.5rem;
  font-style: normal;
  color: black;
}

/* Column layout */
@media (max-width: 600px) {
  .nav_item:first-child,
  .nav_list {
    flex-direction: column;
  }
}
/* Row layout */
@media (min-width: 601px) {
  /* Mason Newell */
  .nav_item:first-child {
    margin-right: auto;
    margin-left: 2rem;
  }
}

/* test */
.second {
  background-image: url(./images/coming-soon-1898936_640.jpg);
}

.third {
  background-image: url(./images/coming-soon-1898936_640.jpg);
}
